@media (max-width: 1200px) {

    .container {
        padding: 0 30px;
    }
    
    .title {
        font-size: 35px;
    }

    /* Section Hero */

    .hero__row {
        margin: 0 -30px;
        padding-bottom: 70px;
    }

    .hero__info {
        padding: 0 30px;
    }

    .hero__title {
        font-size: 45px;
    }

    .hero__video {
        padding: 0 30px;
    }

    /* Section Hero */
    /* Section useful */

    .easy-useful__subtitle {
        font-size: 22px;
    }


    .easy-useful__list {
        margin: 97px -30px 0 -30px;
    }

    .easy-useful__item {
        padding: 0 30px;
    }

    .easy-useful__list-band {
        margin: 100px -30px 0 -30px;
    }

    /* Section useful */
    /* Section Customers */

    .customers_row {
        margin: 0 -30px;
    }

    .customers__info {
        padding: 0 30px;
    }
    .customers__slider {
        padding: 30px;
    }

    /* Section Customers */
}

@media (max-width: 992px) {

    /* Header */

    .header_row {
        height: 80px;
    }

    .nav__item:not(:first-child) {
        margin-left: 25px;
    }

    /* Header */
    /* Section Hero */

    .hero {
        margin-top: 80px;
    }

    .hero .container::before {
        height: calc(100% + 80px);
        top: -80px;
    }
    
    .hero .container::after {
        height: calc(100% + 80px);
        top: -80px;
    }

    .hero__row {
        display: flex;
        flex-direction: column;
    }

    .hero__info {
        order: 2;
    }

    .hero__title {
        margin-top: 30px;
        font-size: 40px;
        line-height: 50px;
    }

    .hero__description {
        margin-top: 15px;
        font-size: 15px;
    }

    .hero__box-btn {
        margin-top: 30px;
    }

    .hero__video {
        width: 100%;
        order: 1;
        display: inline-block;
    }
    
    /* Section Hero */
    /* Section Customers */

    .customers_row {
        flex-direction: column;
    }

    .customers__info {
        margin-top: 30px;
        order: 2;
    }

    .customers__slider {
        order: 1;
        width: 100%;
    }

    .customers__btn {
        margin-top: 30px;
    }

    /* Section Customers */
    /* Section useful */

    .easy-useful__icon-band-box {
        width: 40px;
        height: 40px;
    }

    .easy-useful__icon-band {
        width: 20px;
        height: 20px;
    }

    .easy-useful__heading-band {
        margin-left: 20px;
        font-size: 18px;
        line-height: 23px;
    }

    .easy-useful__item-band {
        min-height: 100px;
    }

    /* Section useful */
    /* Section Our Team */

    .our-team__avatar-slider {
        margin-top: 50px;
    }

    .our-team__descrption-slider {
        margin-top: 15px;
    }

    /* Section Our Team */
    /* Footer */
    
    .footer__row {
        padding: 50px 0;
    }

    .nav__item_circle:not(:first-child) {
        margin-left: 30px;
    }
    
    .nav__item_circle:not(:first-child)::before {
        left: -15px;
    }

    /* Footer */
}

@media (max-width: 768px) {

    /* Header */

    .logo__text {
        display: none;
    }

    /* Header */
    /* Section Hero */

    .hero__row {
        padding-bottom: 30px;
    }

    /* Section Hero */
    /* Section useful */

    .easy-useful {
        padding-top: 50px;
    }

    .easy-useful__list {
        margin-top: 30px;
        flex-direction: column;
    }

    .easy-useful__item {
        flex: 1 1 100%;
    }

    .easy-useful__item:not(:first-child) {
        margin-top: 25px;
    }

    .easy-useful__btn {
        margin-top: 30px;
    }

    .easy-useful__list-band {
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .easy-useful__item-band {
        flex: 0 1 50%;
    }

    /* Section useful */
    /* Section Services */

    .services {
        padding: 50px 0;
    }

    .services__description {
        margin-top: 15px;
    }

    .services__list {
        margin-top: 30px;
    }
    
    /* Section Services */
    /* Section Our Team */

    .our-team {
        padding: 50px 0;
    }

    .our-team__description {
        margin-top: 15px;
    }

    /* Section Our Team */
    /* Section Contact Us */

    .contact-us__row {
        padding: 50px 0;
    }

    .contact-us__description {
        margin-top: 15px;
    }

    .contact-us__form {
        margin-top: 15px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .contact-form__input,
    .contact-form__textarea,
    .contact-form__action {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Section Contact Us */    

}

@media (max-width: 576px) {

    .title {
        font-size: 30px;
    }

    body._lock {
        overflow: hidden;
    }

    /* Header */

    .header__logo {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        z-index: 2;
    }

    .header__logo .logo__img {
        width: 40px;
        height: 40px;
    }

    .header__menu {
        width: 100%;
        display: block;
    }

    .menu__nav {
        display: block;
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        padding:100px 30px 30px 30px;
        background-color: #061e37;
        opacity: .97;
        overflow: auto;
        transition: all 400ms ease-out 200ms;
    }

    .menu__nav::before {
        content: "";
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        height: 80px;
        background-color: #061e37;
        background-image: linear-gradient(-53.0deg, #00b8d4 -11%, #1de9b6 111%);
    }

    .menu__nav._active {
        left: 0;
        transition: all 400ms ease-out 200ms;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin-left: auto;
        cursor: pointer;
    }
    
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        background-color: #ffffff;
    }
    
    .menu__icon::before,
    .menu__icon::after {
        content: "";
        transition: all 500ms ease-out 200ms;
    
    }
    
    .menu__icon::before {
        top: 0;
    }
    
    .menu__icon::after {
        bottom: 0;
    }
    
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        transition: all 500ms ease-out 200ms;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
        transition: all 500ms ease-out 0;
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        transition: all 500ms ease-out 200ms;
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        transition: all 500ms ease-out 200ms;
    }

    .menu__nav .nav__list {
        display: block;
    }

    .menu__nav .nav__list .nav__item {
        height: 50px;
    }

    .menu__nav .nav__list .nav__item:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }

    .menu__nav .nav__list .nav__item .nav__link  {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        opacity: .5;
    }

    .menu__nav .nav__list .nav__item .nav__link:hover,
    .menu__nav .nav__list .nav__item .nav__link:focus  {
        color: #ffffff;
        opacity: 1;
    }

    .header__btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .header__btn_action:active {
        transform: translate(-50%, -50%) scale(0.95);
    }

    /* Header */
    /* Section Hero */

    .hero__title {
        font-size: 35px;
        line-height: 40px;
    }

    .hero__description {
        line-height: 25px;
    }

    .hero__box-btn {
        display: block;
    }

    .hero__btn-left {
        width: 100%;
    }

    .hero__btn-right {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .hero__video {
        padding: 0;
    }

    /* Section Hero */
    /* Section useful */

    .easy-useful__subtitle {
        font-size: 20px;
    }

    .easy-useful__item-band {
        min-height: 60px;
    }

    .easy-useful__icon-band-box {
        width: 35px;
        height: 35px;
    }

    .easy-useful__icon-band {
        width: 15px;
        height: 15px;
    }

    .easy-useful__heading-band {
        margin-left: 20px;
        font-size: 15px;
        line-height: 18px;
    }

    /* Section useful */
    /* Section Services */

    .services__body {
        display: block;
    }

    .services__banner {
        width: 100%;
        height: auto;
        display: block;
    }

    .services__banner_statistics {
        vertical-align: top;
    }

    .services__info {
        margin-left: 0;
        margin-top: 0;
        display: block;
    }

    .services__info-description {
        margin-top: 15px;
    }
 
    /* Section Services */
    /* Section Customers */

    .customers__slider {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 30px;
    }

    .customers__slider .slick-track{
        display: flex;
        align-items: center;
        min-height: 0;
    }

    .customers__slider .slick-dots {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .customers__slider .slick-dots li{
        list-style: none;
        margin: auto 10px;
        display: flex;
    }
    
    .customers__slider .slick-dots button{
        font-size: 0px;
        height: 10px;
        width: 10px;
        border: 2px solid #061e37;
        border-radius: 50%;
    }
    
    .customers__slider .slick-dots li.slick-active button {
        background-color: #061e37;
    }

    .customers__slider li {
        margin-top: 0;
    }

    
    .customers__item:not(:first-child) {
        margin-top: 0px;
    }

    .customers__item {
        margin: 0;
    }

    .customers__img-box {
        display: none;
    }

    .customers__comment {
        margin-left: 0;
    }

    .customers__info {
        text-align: center;
    }

    .customers__btn {
        width: 100%;
    }

    /* Section Customers */
    /* Section Our Team */

    .avatar-slider__img {
        width: 70px;
        height: 70px;
        margin: 0 7.5px;
    }
    
    .avatar-slider__img.slick-center {
        width: 120px;
        height: 120px;
    }

    /* Section Our Team */
    /* Section Contact Us */

    .contact-form {
        margin-left: 0;
        margin-right: 0;
    }

    .contact-form__input {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        flex: 1 1 100%;
    }

    .contact-form__textarea {
        margin-left: 0;
        margin-right: 0;
    }

    .contact-form__action {
        margin-left: 0;
        margin-right: 0;
    }

    /* Section Contact Us */
    /* Footer */
    
    .footer__row {
        display: flex;
        flex-direction: column;
    }

    .footer__top {
        order: 2;
        flex-direction: column;
    }

    .footer__top-nav {
        order: 1;
        margin-left: 0;
        margin-top: 15px;
    }

    .footer__logo {
        order: 2;
        margin-top: 15px;
    }

    .footer__bottom {
        order: 1;
        flex-direction: column;
        margin: 0;
    }

    .footer__sosial {
        width: 100%;
        order: 1;
    }

    .footer__bottom-nav {
        width: 100%;
        margin-top: 15px;
        order: 2;
    }

    .nav__list {
        width: 100%;
        justify-content: center;
    }

    .footer__logo .logo__img{
        height: 50px;
        width: 50px;
    }
    
    /* Footer */
}