@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), local('Raleway-Regular'),
        url('/fonts/Raleway-Regular.woff2') format('woff2'),
        url('/fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('/fonts/Raleway-Medium.woff2') format('woff2'),
        url('/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('/fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('/fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('/fonts/Raleway-Bold.woff2') format('woff2'),
        url('/fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('/fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('/fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn-transparent {
    border: 1px solid #ffffff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
}

.btn-blue {
    border: none;
    border-radius: 5px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #061e37;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

.btn-white {
    border: none;
    border-radius: 5px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #061e37;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

.btn_grean {
    background-color: #1de9b6;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    border: none;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
} 

.btn-transparent:hover,
.btn-blue:hover,
.btn-white:hover,
.btn_grean:hover,
.btn-transparent:focus,
.btn_grean:focus,
.btn-white:focus,
.btn-blue:focus {
    opacity: .8;
}

.btn-transparent:active,
.btn-blue:active,
.btn-white:active,
.btn_grean:active {
    transform: scale(.95);
}

.title {
    font-family: "Raleway";
    font-size: 45px;
    line-height: 1.2;
    font-weight: 600;
    color: #061e37;
}

.title_white {
    color: #ffffff;
}

.description {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #b0bec5;
}

.description_white {
    color: #ffffff;
}

/* Header */

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.header::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #061e37;
    background-image: linear-gradient(-53.0deg, #00b8d4 -11%, #1de9b6 111%);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    position: relative;
}

.header_row {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo__link {
    display: flex;
}

.logo__text {
    margin-left: 10px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.logo__text_bold {
    font-weight: 800;
}

.nav__list {
    display: flex;
}

.nav__item:not(:first-child) {
    margin-left: 49px;
}

.nav__link {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    color: #ffffff;
}

.nav__link:hover,
.nav__link:focus {
    color: #061e37;
}

.header__btn {
    width: 80px;
    height: 25px;
}

/* Header */
/* Section Hero */

.hero {
    height: auto;
    margin-top: 130px;
    position: relative;
}

.hero .container::before {
    content: "";
	display: block;
    width: 100%;
	height: calc(100% + 130px);
    position: absolute;
    left: 0;
    top: -130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #061e37;
    background-image: linear-gradient(-53.0deg, #00b8d4 -11%, #1de9b6 111%);
    opacity: 0.9;
    z-index: -5;
}

.hero .container::after {
    content: "";
	display: block;
    width: 100%;
	height: calc(100% + 130px);
    position: absolute;
    left: 0;
    top: -130px;
    background-image: url("/img/hero/hero.png");
    z-index: -6;
}


.hero__row {
    min-height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -130px;
    padding-bottom: 70px;
}

.hero__info {
    padding: 0 130px;
    flex: 0 1 50%;
}

.hero__title {
    margin: 0;
    font-family: "Raleway";
    font-size: 55px;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.hero__description {
    margin-top: 28px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #ffffff;
}

.hero__box-btn {
    margin-top: 38px;
}

.hero__btn-left {
    width: 150px;
    height: 55px;
}

.hero__btn-right {
    width: 160px;
    height: 55px;
    margin-left: 30px;
}

.hero__video {
    padding: 0 130px;
    flex: 0 1 50%;
}

.hero__video-box {
    width: 100%;
    min-height: 320px;
    margin-left: auto;
    border: 1px solid #061e37;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    
}

.hero__video-box::after {
    content: "";
	display: block;
    width: 110%;
	height: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("/img/hero/back_video.jpg");
    background-size: cover;
    background-position: center center;
    z-index: -2;
    transform: translate(-50%, -50%);
}

.hero__video-box::before {
    content: "";
	display: block;
    width: 100%;
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: -1;
}

.hero__play-video {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.hero__play-video-icon {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("/img/hero/play_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero__play-video-caption {
    margin-top: 22px;
    font-family: "Raleway";
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #061e37;
}

/* Section Hero */
/* Section useful */

.easy-useful {
    padding-top: 100px;
}

.easy-useful__row {
    height: auto;
}

/* .easy-useful__top {
    margin-top: 100px;
} */

.easy-useful__title {
    text-align: center;
}

.easy-useful__subtitle {
    margin-top: 14px;
    text-align: center;
    font-family: "Raleway";
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
    color: #b0bec5;
}

.easy-useful__description {
    max-width: 556px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.easy-useful__list {
    margin: 97px -100px 0 -100px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.easy-useful__item {
    padding: 0 100px;
    flex: 0 1 33.333%;
}

.card-item__icon {
    height: 70px;
    width: 68px;
    margin: 0 auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-item__icon_schedule {
    background-image: url("/img/Easy_Useful/schedule.png");
}

.card-item__icon_person {
    background-image: url("/img/Easy_Useful/person.png");
}

.card-item__icon_worker {
    background-image: url("/img/Easy_Useful/worker.png");

}

.card-item__title {
    margin-top: 40px;
    text-align: center;
    font-family: "Raleway";
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: #061e37;
}

.card-item__description {
    margin-top: 20px;
    text-align: center;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #78909c;
}

.easy-useful__btn {
    width: 150px;
    height: 55px;
    margin: 78px auto 0 auto;
    display: block;
}

.easy-useful__list-band {
    margin: 100px -80px 0 -80px;
    display: flex;
}

.easy-useful__item-band {
    min-height: 150px;
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-useful__item-band_color_1 {
    background-color: #80d8ff;
}

.easy-useful__item-band_color_2 {
    background-color: #82b1ff;
}

.easy-useful__item-band_color_3 {
    background-color: #b388ff;
}

.easy-useful__item-band_color_4 {
    background-color: #ea80fc;
}

.easy-useful__icon-band-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.easy-useful__icon-band {
    width: 25px;
    height: 25px;
    display: block;
    background-size: contain;
    background-position: center center;
}

.easy-useful__icon-band_busibess {
    background-image: url(/img/Easy_Useful/business.png);
}

.easy-useful__icon-band_downloads {
    background-image: url(/img/Easy_Useful/downloads.png);
}

.easy-useful__icon-band_pro_users {
    background-image: url(/img/Easy_Useful/pro_users.png);
}

.easy-useful__icon-band_free-installs {
    background-image: url(/img/Easy_Useful/free_installs.png);
}

.easy-useful__heading-band {
    margin-left: 23px;
    font-family: "Raleway";
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    color: #ffffff;
}
/* Section useful */
/* Section Services */

.services {
    padding: 100px 0;
}

.services__row {
    max-width: 800px;
    margin: 0 auto;
}

.services__title {
    text-align: center;
}

.services__description {
    max-width: 556px;
    margin: 29px auto 0 auto;
    text-align: center;
}

.services__list {
    margin-top: 48px;
    transition: max-height 1s ease-out;
}

.services__item {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    padding: 24px 25px;
    cursor: pointer;
    transition: max-height 1s ease-out;
}

.services__item:not(:first-child) {
    margin-top: 20px;
}

.services__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services__icon {
    height: 18px;
    width: 20px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.services__icon_statistics {
    padding: 3.5px 1px;
    background-image: url("/img/services/trending_up.png");
}

.services__icon_inbox {
    padding: 2px 1px;
    background-image: url("/img/services/mail.png");
}

.services__icon_team {
    padding: 3px 0;
    background-image: url("/img/services/group.png");
}

.services__icon_settings {
    padding: 0 1px;
    background-image: url("/img/services/settings.png");
}

.services__icon_feed {
    padding: 2px 3px;
    background-image: url("/img/services/rss_feed.png");
}

.services__heading {
    margin-left: 23px;
    flex: 1 1 auto;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #061e37;
}

.services__arrow {
    height: 5px;
    width: 11px;
    display: block;
    background-image: url("/img/services/arrow.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.services__body {
    width: 100%;
    max-height: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: max-height 1s, padding 1s;
}

.services__banner {
    width: 250px;
    min-height: 155px;
    flex: 0 0 250px;
    align-self: stretch;
    display: block;
    background-size: cover;
    background-position: center center;
}

.services__banner_statistics {
    background-image: url("/img/services/banner_1.png");
}

.services__banner_inbox {
    display: none;
}

.services__banner_team {
    display: none;
}

.services__banner_settings {
    display: none;
}

.services__banner_feed {
    display: none;
}

.services__info {
    display: block;
    margin-top: -24px;
    margin-left: 25px;
    flex: 1 1 auto;
}

.services__info-description {
    width: 100%;
    margin-top: 24px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #061e37;
}

/* Section Services */
/* Section Customers */

.customers .container::before {
    content: "";
	display: block;
    width: 100%;
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1de9b6;
    background-image: linear-gradient(-53.0deg, #00b8d4 -3%, #1de9b6 104%);
    opacity: 0.94;
    z-index: -1;
}

.customers .container::after {
    content: "";
	display: block;
    width: 100%;
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/img/customers/back_img.jpg");
    z-index: -2;
}

.customers_row {
    margin: 0 -80px;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.customers__info {
    padding: 0 80px;
    flex: 1 1 35%;
}

.customers__description {
    margin-top: 19px;
}

.customers__btn {
    width: 150px;
    height: 65px;
    margin-top: 78px;
}

.customers__slider {
    display: block;
    min-width: 0;
    flex-grow: 1;
    position: relative;
    padding: 30px 80px;
}

.customers__slider .slick-list {
    width: 100%;
    min-width: 0;
    display: block;
    overflow: hidden;
    padding: 0;
}

.customers__slider .slick-track{
    display: block;
    width: 100%;
    min-width: 0;
}

.customers__slider li {
    margin-top: 35px;
}

.customers__slider button {
    border: none;
    background-color: none;
}

.customers__slider .slick-arrow {
    height: 28px;
    width: 46px;
    position: absolute;
    left: calc(50% + 60px - 23px);
    font-size: 0;
    border: none;
    background-color: transparent;
}

.customers__slider .slick-arrow.slick-prev {
    top: 0;
    background-image: url("/img/customers/arrow_up.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.customers__slider .slick-arrow.slick-next {
    bottom: 0;
    background-image: url("/img/customers/arrow_down.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.customers__item {
    display: flex;
    align-items: center;
}

.customers__item:not(:first-child) {
    margin-top: 70px;
}

.customers__img-box {
    display: block;
    flex: 0 0 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

.customers__img {
    display: block;
    width: 100%;
    height: 100%;
}

.customers__comment {
    margin-left: 50px;
    border-radius: 5px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

.customers__name {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #061e37;
}

.customers__text {
    margin-top: 10px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    font-style: italic;
    color: #78909c;
}

.customers__arrow-btn {
    height: 14px;
    width: 23px;
    margin-left: 110px;
    border: none;
    background-color: transparent;
}

.customers__arrow-icon {
    height: 100%;
    width: 100%;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.customers__arrow-icon_up {
    background-image: url("/img/customers/arrow_up.png");
}

.customers__arrow-icon_down {
    background-image: url("/img/customers/arrow_down.png");
}

/* Section Customers */
/* Section Our Team */

.our-team {
    padding: 100px 0;
}

.our-team__row {
    max-width: 645px;
    margin: 0 auto;
}

.our-team__title {
    text-align: center;
}

.our-team__description {
    margin-top: 29px;
    text-align: center;
}

.our-team__avatar-slider {
    margin-top: 98px;
}

.avatar-slider .slick-list,
.descrption-slider .slick-list {
    overflow: hidden;
}

.avatar-slider .slick-list {
    margin: 0 auto;
}

.avatar-slider .slick-track,
.descrption-slider .slick-track{
    display: flex;
    align-items: center;
}

.descrption-slider .slick-list .slick-track li {
    z-index: 1 !important;
}

.avatar-slider__img {
    height: 100px;
    width: 100px;
    margin: 0 25px;
    display: block;
    text-align: center;
    opacity: 0.2;
    overflow: hidden;
}

.avatar-slider__img.slick-center {
    opacity: 1;
    height: 160px;
    width: 160px;
}

.avatar-slider .slick-dots {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-slider .slick-dots li{
    list-style: none;
    margin: auto 10px;
    display: flex;
}

.avatar-slider .slick-dots button{
    font-size: 0px;
    height: 10px;
    width: 10px;
    border: 2px solid #061e37;
    border-radius: 50%;
}

.avatar-slider .slick-dots li.slick-active button {
    background-color: #061e37;
}

.our-team__descrption-slider {
    margin-top: 35px;
}

.descrption-slider___item {
    text-align: center;
}

.descrption-slider___name {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #061e37;
}

.descrption-slider___description {
    margin-top: 20px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #90a4ae;
}

.descrption-slider___sosial {
    margin-top: 29px;
}

.sosial__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sosial__item:not(:first-child) {
    margin-left: 25px;
}

.sosial__icon {
    height: 20px;
    width: 21px;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.sosial__icon_twitter {
    padding: 2px 1.5px;
    background-image: url("/img/our_team/twitter.png");
}

.sosial__icon_facebook {
    padding: 1px 5.5px;
    background-image: url("/img/our_team/facebook.png");
}

.sosial__icon_linkedin {
    background-image: url("/img/our_team/linkedin.png");
}

.sosial__icon_dribbble {
    padding: 1px 1.5px;
    background-image: url("/img/our_team/dribbble.png");
}

.sosial__icon_behance {
    padding: 4px 1.5px;
    background-image: url("/img/our_team/behance.png");
}

/* Section Our Team */
/* Section Contact Us */

.contact-us .container {
    background-color: #fafafa;;
}

.contact-us__row {
    max-width: 600px;
    margin: 0 auto;
    padding: 49px 0 100px 0;
}

.contact-us__top {
    text-align: center;
}

.contact-us__description {
    margin-top: 29px;
}

.contact-us__form {
    margin-top: 29px;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.contact-form__input {
    height: 50px;
    max-width: 50%;
    margin: 20px 20px 0 20px;
    border: 1px solid #061e37;
    border-radius: 5px;
    padding: 10px 20px;
    flex-grow: 1;
    font-family: "Raleway";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #061e37;
}

.contact-form__input::placeholder {
    font-family: "Raleway";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #061e37;
}

.contact-form__textarea {
    height: 150px;
    margin: 20px 20px 0 20px;
    border: 1px solid #061e37;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 1 1 100%;
    font-family: "Raleway";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #061e37;
}

.contact-form__textarea {
    font-family: "Raleway";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #061e37;
}

.contact-form__action {
    width: 100%;
    margin: 20px 20px 0 20px;
    display: flex;
    align-items: center;
}

.contact-form__checkbox-line {
    display: flex;
    align-items: center;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #061e37;
}

.contact-form__checkbox {
    margin-right: 9px;
    margin-top: 3px;
}

.contact-form__btn {
    width: 130px;
    height: 50px;
    margin-left: auto;
}
/* Section Contact Us */
/* Footer */

.footer .container {
    background-color: #061e37;
}

.footer__row {
    padding: 100px 0 104px 0;
}

.footer__top {
    display: flex;
    align-items: center;
}

.footer__top-nav {
    margin-left: auto;
}

.nav__link_opacity:hover,
.nav__link_opacity:focus {
    opacity: .5;
    color: #ffffff;
    text-decoration: underline;
}

.footer__bottom {
    margin-top: 54px;
    display: flex;
    align-items: center;
}

.nav__item_circle {
    position: relative;
}

.nav__item_circle:not(:first-child) {
    margin-left: 44px;
}

.nav__item_circle:not(:first-child)::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.nav__link_gray {
    font-weight: 400;
    opacity: 0.5;
}

.nav__link_gray:hover,
.nav__link_gray:focus {
    opacity: 1;
    color: #ffffff;
    text-decoration: underline;
}

.footer__sosial {
    margin-left: auto;
}

.sosial__item_footer:not(:focus) {
    margin-left: 16px;
}

.sosial__icon_footer {
    height: 18px;
    width: 24px;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .2;
}

.sosial__icon_footer:hover,
.sosial__icon_footer:focus {
    opacity: 1;
}



.sosial__icon_footer-facebook {
    padding: 0 2.5px;
    background-image: url("/img/footer/footer-facebook.png");
}

.sosial__icon_footer-twitter {
    padding: 1px 3.5px;
    background-image: url("/img/footer/footer-twitter.png");
}

.sosial__icon_footer-linkedin {
    padding: 0 2.5px;
    background-image: url("/img/footer/footer-linkedin.png");
}

.sosial__icon_footer-dribbble {
    padding: 0 2.5px;
    background-image: url("/img/footer/footer-dribbble.png");
}

.sosial__icon_footer-behance {
    padding: 1px 0;
    background-image: url("/img/footer/footer-behance.png");
}
/* Footer */